.cardboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  perspective: 1000px;
  transform-style: preserve-3d;

  h3 {
    span {
      color: #0e00ff;
      cursor: pointer;
    }
  }

  h4 {
    color: #0e00ff;
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
  }

  .cards_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .puff {
    display: none;
  }
}
