@font-face {
  font-family: "Nitti Normal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Nitti-Normal.woff");
}

@font-face {
  font-family: "Nitti Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Nitti-Bold.woff");
}
